footer {
  padding: 32px 72px;
  background: $blue;

  img {
    display: block;
    margin-bottom: 34px;
    filter: brightness(0) invert(1);
    width: 100%;
  }

  .back {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    display: block;
    color: #2d8c7b !important;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: #fff;
      text-decoration: none;
    }

    i {
      margin-left: 10px;
    }
  }

  .link {
    cursor: pointer;
    display: none;

    &:hover {
      color: #2d8c7b !important;
    }
  }

  @media (min-width: map-get($grid-breakpoints,lg)) {
    height: 116px;

    img {
      margin-bottom: 0;
    }

    .lg {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .link {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;

        & + .link {
          margin-left: 25px;
        }
      }

      .back {
        margin-left: 40px;
      }
    }
  }
}

.modal-dialog {
  max-width: 660px;

  .modal-body {
    padding-top: 40px;
  }

  button {
    right: 5px;
    top: 5px;
    position: absolute;
    z-index: 5;
  }

  iframe {
    width: 100%;
  }
}
