.mobile-menu {
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background: white;
  z-index: 10;

  &::after {
    background: linear-gradient(#0e1629 0%, #2d8c7b 100%);
    display: block;
    height: 2px;
    width: 100%;
    content: "";
    top: 20px;
    position: relative;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      padding: 0;
      z-index: 2;
    }

    .line {
      fill: none;
      stroke: black;
      stroke-width: 6;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line1 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }

    .line2 {
      stroke-dasharray: 60 60;
      stroke-width: 6;
    }

    .line3 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }

    .opened .line1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
      stroke: white !important;
    }

    .opened .line2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 6;
      stroke: white !important;
    }

    .opened .line3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
      stroke: white !important;
    }
  }
  .menu-window {
    height: 100vh;
    background: linear-gradient(#2d8c7b 0%, #0e1629 100%);
    width: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    padding-top: 95px;
    padding-bottom: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
    overflow-x: hidden;

    .links,
    .down-btns {
      right: -400px;
      position: relative;
      transition: right 0.2s ease-in-out;
    }

    &.opened {
      width: 292px;
      transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
      padding-left: 35px;
      padding-right: 35px;

      .links,
      .down-btns {
        right: 0;
        transition: right 0.45s ease-in-out;
      }
    }

    .links {
      .link {
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        color: #fff;
        display: block;
        text-transform: uppercase;
        text-decoration: none;

        & + .link {
          margin-top: 24px;
        }
      }
    }

    .down-btns {
      .contact {
        width: 100%;
        height: 52px;
        border-radius: 8px;
        background: transparent;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
      }

      .visit {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #fff;
        margin-top: 15px;
        text-decoration: none;
        display: block;

        i {
          margin-left: 5px;
        }
      }
    }
  }
}

.switcher-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  li + li {
    margin-left: 15px;
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    margin-top: unset;
  }
}

.desk-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: white;

  &::after {
    height: 2px;
    background: linear-gradient(#0e1629 0%, #2d8c7b 100%);
    width: 100%;
    display: block;
    content: "";
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 18px 0;
    width: 65%;

    .link {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: $blue;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .contact {
      width: fit-content;
      border-radius: 8px;
      padding: 16px 20px;
      background: linear-gradient(#0e1629 0%, #2d8c7b 100%);
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #fff;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.02);
        transition: all 0.2s ease-in-out;
        text-decoration: none;
        color: white;
      }
    }
  }
}
