.intro {
  padding-top: 124px;

  .qualidades {
    padding-top: 20px;
  }

  .item {
    display: flex;
    align-items: center;
    .circle {
      width: 67px;
      height: 67px;
      background: #2d8c7b27;
      display: flex;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
    }

    h3 {
      font-size: 16px;
      line-height: 32px;
      color: $blue;
      text-transform: uppercase;
    }

    & + .item {
      margin-top: 30px;
    }
  }

  .btn-gradient {
    margin-top: 32px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.02);
      transition: transform 0.3s ease-in-out;
      text-decoration: none;
      color: white !important;
    }
  }

  .maquinas-valgroup {
    padding-top: 70px;
    padding-bottom: 24px;
  }

  .video-open {
    padding: 0;
    border: 0;
  }

  .border-bt-custom {
    border: 1px solid #e6e6e6;
  }

  .after-video-wrapper {
    padding-top: 72px;
    padding-bottom: 72px;

    .after-video-item {
      text-align: center;
      height: 400px;
      .circle {
        width: 166px;
        height: 166px;
        background: #2d8c7b27;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 0 auto 32px auto;
        transition: all 0.3s ease-in-out;
      }

      p:last-of-type {
        margin-bottom: 0;
      }

      & + .after-video-item {
        margin-top: 32px;
      }
    }
  }

  .forza-section {
    padding-top: 40px;
    padding-bottom: 40px;

    .img-fluid {
      margin-bottom: 40px;
    }

    .titulo-mid {
      color: $green;
    }

    p {
      margin-bottom: 0;
    }
  }

  @media (min-width: map-get($grid-breakpoints,lg )) {
    position: relative;
    overflow: hidden;
    padding-top: 191px;

    .banner-img {
      max-width: 80%;
      position: absolute;
      right: -5%;
      transition: all 0.5s ease-in-out;

      &:hover {
        right: -4.5%;
        transition: all 0.5s ease-in-out;
      }
    }
    .container {
      position: relative;

      .forza-tech {
        position: absolute;
        right: 0;
        top: 7%;

        span {
          display: block;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          color: $blue;
          text-transform: uppercase;
          margin-bottom: 10px;
        }
      }
    }

    .detail {
      position: absolute;
      top: -10.5%;
      right: 0px;
      z-index: 0;
    }
    .titulo {
      width: 80%;
    }

    .maquinas-valgroup {
      position: relative;
      margin-top: 85px;

      .thumb {
        position: absolute;
        left: -20px;
        z-index: 0;
        width: 90%;
        border-radius: 8px;
        top: 0;
      }

      .ver-ltc {
        width: fit-content;
        border-radius: 8px;
        background: $blue;
        padding: 12px 30px;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #fff;
        text-transform: uppercase;
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.02);
          transition: transform 0.3s ease-in-out;
          text-decoration: none;
        }
      }

      .wrapper-video {
        position: relative;
      }

      .video-open {
        position: absolute;
        top: 18px;
        left: 18px;
        background: none;
        border: none;
        z-index: 2;

        &:hover {
          span {
            display: flex !important;
          }
        }

        i {
          color: $blue;
          font-size: 30px;
        }

        .play-hover {
          display: flex;
          align-items: center;
          span {
            display: none;
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            color: $blue;
          }
        }
      }

      .ltc {
        position: relative;
        z-index: 1;
      }
    }

    .wrapper-line {
      border-bottom: 1px solid #e6e6e6;
    }

    .border-bt-custom {
      border: 0;
    }

    .after-video-wrapper {
      height: 500px;
    }

    .after-video-item {
      .circle:hover {
        width: 154px;
        height: 154px;
        transition: all 0.3s ease-in-out;
      }
    }

    .forza-section {
      padding-top: 80px;
      padding-bottom: 80px;

      .detail-forza {
        position: relative;
        top: -70px;
      }
    }
  }
}

.maquinas {
  padding-top: 70px;
  padding-top: 50px;

  &#maquina-automatica {
    #pills-tab {
      width: 65%;
      margin: 0 auto;
    }
  }

  .maquina {
    .titulo-mid {
      text-align: center;
    }
    .pane {
      ul#myTab2 {
        li {
          background: none !important;
          padding-top: 0px;
          padding-left: 0px;
        }
      }

      div#myTabContent2 {
        span.forza {
          display: inline-block;
          width: 90px;
          height: 20px;
          background: url("../../dist/img/forza-icon.png");
          background-repeat: no-repeat;
          background-size: contain;
          position: relative;
          top: 5px;
        }
        span.forza2 {
          display: inline-block;
          width: 140px;
          height: 82px;
          background: url("../../dist/img/logo-forza-without-2.png");
          background-repeat: no-repeat;
          background-size: contain;
          position: relative;
          top: 43px;
          margin-top: -70px;
        }
      }

      .sub {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $blue;
        text-align: center;
        margin-bottom: 15px;
        display: block;
      }

      .nav {
        display: flex;
        justify-content: space-between;
        .nav-item {
          button {
            height: 52px;
            display: flex;
            align-items: center;
            padding: 0 32px;
            width: fit-content;
            border-radius: 8px;
            background: none;
            border: 1px solid $blue;
            font-family: Poppins;
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: $blue;

            &.active {
              background: $blue;
              color: white;
            }
          }
        }
      }

      .tab-pane {
        padding-top: 15px;

        ul {
          padding: 0;
          margin: 0;
          list-style-type: none;

          li {
            background: url("../../dist/img/check-icon.png") no-repeat left;
            padding-top: 7px;
            padding-left: 44px;
          }
        }

        .mini {
          font-size: 12px;
          line-height: 18px;
          color: #4d4d4d;
          display: block;
          margin: 15px 0;
        }

        .titulo-mid {
          color: #2d8c7b;
          text-align: left;
          margin-top: 20px;
        }

        .nav {
          border-bottom: 0;
          .nav-item {
            button {
              font-size: 16px;
              line-height: 24px;
              background: none;
              border: 0;
              border-radius: 0;
              padding: 0;
              height: auto;
              color: #e6e6e6;

              &.active {
                color: $blue;
                border-bottom: 2px solid $blue;
              }
            }
          }
        }

        .tab-content {
          p,
          ul {
            color: #4d4d4d;
          }

          ul {
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
              background: url("../../dist/img/check-icon.png") no-repeat left;
              padding-top: 7px;
              padding-left: 44px;
            }
          }
        }
      }
    }
  }

  .nr-12 {
    background: linear-gradient(to right, #0e1629 0%, #2d8c7b 100%);
    margin-top: 80px;
    .wrapper-all {
      position: relative;

      .carousel-nr {
        border-bottom: 1px solid white;
      }
    }

    .wrapper-nr {
      height: 210px;
      position: relative;
      top: -50px;

      .tns-controls {
        button {
          position: absolute;
          border: none;
          top: 45%;
          z-index: 4;

          background: white;
          color: #2d8c7b;
          border-radius: 50%;
          width: 35px;
          &:first-of-type {
            left: 15px;
          }

          &:last-of-type {
            right: 15px;
          }
        }
      }
    }

    .text-nr {
      padding-top: 40px;
      padding-bottom: 40px;
      color: white;

      .titulo-mid {
        color: white;
        width: 70%;
        img {
          margin-left: 10px;
        }
      }

      p {
        text-align: justify;
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    padding-top: 80px;

    .titulo-mid {
      font-size: 40px;
      line-height: 52.8px;
    }

    .pane {
      .wrapper-lg {
        margin-bottom: 30px;

        .line {
          width: 20%;
          height: 1px;
          background: #0e1629;
        }
        .sub {
          margin-bottom: 0;
        }

        ul {
          margin-bottom: 0 !important;

          li + li {
            margin-left: 10px;
          }
        }

        &.custom-wrapper {
          .line {
            width: 23% !important;
            margin: 0 20px;
          }
          ul {
            width: 21% !important;
            margin-left: 20px !important;
          }
        }
      }

      .teste {
        display: flex;
        align-items: flex-start;

        // .img-wrapper {
        //   margin-right: 40px;
        //   background: #f2f2f2;
        //   border-radius: 8px;
        //   height: 100%;
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        // }

        .img-fluid {
          margin-right: 40px;
        }

        .text {
          position: relative;

          .header-tab {
            position: absolute;
            right: 0;
            padding-left: 45px;
          }

          .teste {
            .text {
              position: relative;
              top: 150px;
            }
          }

          #myTab2 {
            max-width: 50%;
          }
        }
      }
    }

    .nr-12 {
      max-width: 1110px;
      margin: 0 auto;
      margin-top: 100px !important;
      border-radius: 8px;

      .d-lg-flex {
        align-items: center;
        .wrapper-nr {
          top: unset;
          height: unset;

          .carousel-nr {
            border-bottom: 0;
          }
        }

        .text-nr {
          padding: 0 30px;

          .titulo-mid {
            width: unset;
            font-size: 24px;
            line-height: 36px;
          }
        }
      }
    }
  }
}

#suporte-tecnico {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #4d4d4d;
  .titulo-mid {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
  }
  .nav {
    border: 0;
    .nav-item {
      .nav-link {
        border: 0;
        border-bottom: 1px solid white;
        padding: 0;
        padding-bottom: 8px;
        margin-right: 20px;
        margin-bottom: 16px;
        color: #e6e6e6;
        &.active,
        &:hover {
          color: #2d8c7b;
          border-color: #2d8c7b;
        }
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints,lg)) {
    padding-top: 74px;
  }
}

.vcl {
  padding-top: 56px;
  padding-bottom: 56px;
  background: linear-gradient(to right, #0e1629 0%, #2d8c7b 100%);

  .vcl-wrapper {
    .item {
      color: white;

      p {
        text-align: justify;
      }

      .header {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        .circle {
          width: 67px;
          height: 67px;
          background: #2d8c7b;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          margin-right: 32px;
        }

        .titulo-mid {
          margin-bottom: 0;
          color: white;
        }
      }

      & + .item {
        margin-top: 40px;
      }
    }
  }

  .btn-contact {
    width: fit-content;
    padding: 16px 32px;
    display: block;
    margin: 40px auto 0 auto;
    border-radius: 8px;
    background: transparent;
    border: 1px solid #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #fff !important;
    text-transform: uppercase;
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    position: relative;

    .pattern {
      position: absolute;
      top: 0;
    }

    .container {
      position: relative;

      .maquina-lg {
        position: absolute;
        left: -383px;
        bottom: -142px;
        transition: all 0.3s ease-in-out;

        &:hover {
          bottom: -132px;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    .vcl-wrapper {
      margin-bottom: -155px;
      padding-top: 80px;

      .item {
        width: 48%;

        & + .item {
          margin-top: 0;
        }

        &:last-of-type {
          position: relative;
          top: -138px;
        }
      }

      .btn-contact {
        height: fit-content;
        margin-left: 40px;
        transition: transform 0.2s ease-in-out;

        &:hover {
          text-decoration: none;
          transform: scale(1.02);
          transition: transform 0.2s ease-in-out;
        }
      }
    }
  }
}
.blog{
  padding-top: 70px;
  .titulo{
    text-align: center;
    color: #2d8c7b;
  }
  .desc{
    text-align: center;
  }
  .btn-blog{
    width: fit-content;
      border-radius: 8px;
      padding: 16px 20px;
      background: linear-gradient(#0e1629 0%, #2d8c7b 100%);
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #fff;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      display: block;
      margin: 20px auto;
      &:hover {
        transform: scale(1.02);
        transition: all 0.2s ease-in-out;
        text-decoration: none;
        color: white;
      }
  }
  #list-blog{
    .item-blog{
      .img-blog{
        background: center center no-repeat;
        background-size: cover;
        height: 135px;
        border-radius: 8px 8px 0px 0px;
        @media(min-width: map-get($grid-breakpoints,lg)){
          height: 200px;
        }
      }
      .corpo-blog{
        border-radius: 0 0 8px 8px;
        padding: 24px;
        background-color: #F2F2F2;
        .titulo-blog{
          color: #0E1629;
          font-weight: 600;
          font-size: 16px;
        }
        .resumo-blog{
          font-size: 14px;
          color: #4d4d4d;

        }
        .link-blog{
          color: #2d8A7A;
          font-size: 14px;

        }
      }
    }
  }
}
.contato {
  padding-top: 70px;
  padding-bottom: 40px;

  .titulo {
    text-align: center;
    color: #2d8c7b;
  }

  .form {
    margin-top: 30px;
    width: 100%;

    p {
      margin-bottom: 0;
    }

    label {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #333;
      text-transform: uppercase;
      margin-bottom: 15px;
      width: 100%;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    select,
    textarea {
      display: block;
      width: 100%;
      font-size: 16px;
      line-height: 32px;
      color: #4d4d4d;
      padding: 5px 0;
      border: 0;
      border-bottom: 1px solid #4d4d4d;
      background: none;
      outline: 0;
    }

    .btn-form {
      width: fit-content;
      display: block;
      padding: 16px 32px;
      border-radius: 8px;
      background: linear-gradient(to left, #0e1629 0%, #2d8c7b 100%);
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #fff;
      border: 0;
      margin: 40px auto 0 auto;
      transition: transform 0.3s ease-in-out;
      text-transform: uppercase;

      &:hover {
        transform: scale(1.02);
        transition: transform 0.3s ease-in-out;
        text-decoration: none;
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    padding-top: 120px;
    background: url("../../dist/img/BG-contato.png");
    background-size: 175%;
    background-repeat: no-repeat;
    background-position-x: -200px;
    background-position-y: -239px;

    .titulo {
      margin-bottom: 48px;
    }

    .form {
      width: 760px;
      margin: 0 auto;

      p,
      label {
        width: 100%;
      }

      .custom {
        display: flex;
        align-items: end;
        justify-content: space-between;

        label {
          span {
            width: 93%;
            display: inline-block;
          }
        }
      }
    }
  }
}

// TABLETS

@media (min-width: 800px) and (max-width: 900px) {
  .intro {
    .video-open {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .border-bt-custom {
    border: 0 !important;
  }

  #pills-tab {
    width: 50%;
    margin: 0 auto;
  }

  .wrapper-nr {
    width: 50%;
    margin: 0 auto;

    .carousel-nr {
      border-bottom: 0 !important;
    }
  }

  .maquinas {
    &#maquina-automatica #pills-tab {
      width: 35%;
    }
    .teste {
      img {
        margin: 30px auto;
        display: block;
      }
    }
  }

  #suporte-tecnico {
    img {
      margin: 0 auto 30px auto;
      display: block;
    }
  }
}

@media (min-width: 1000px) and (max-width: 1194px) {
  .desk-menu {
    .links {
      width: 75% !important;
    }
  }

  .intro {
    .detail {
      right: -15%;
    }
  }

  .maquinas {
    .line {
      width: 15% !important;
    }

    .header-tab {
      padding-left: 95px !important;

      #myTab2 {
        max-width: 65% !important;
      }
    }
  }
  .maquinas .pane .wrapper-lg.custom-wrapper ul {
    width: 28% !important;
  }

  .vcl {
    overflow-x: hidden;
  }
}
