@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500;1,700&display=swap");

$blue: #0e1629;
$green: #246424;

@keyframes tocar {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #505050;
}

.modal-open {
  overflow-y: scroll !important;
  padding-right: 0 !important;
}

.titulo {
  font-weight: 600;
  font-size: 40px;
  line-height: 52.8px;
  color: $blue;
  margin-bottom: 24px;
}

.titulo-mid {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: $blue;
  margin-bottom: 24px;
}

.btn-gradient {
  width: fit-content;
  display: flex;
  align-items: center;
  height: 52px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 8px;
  background: linear-gradient(#0e1629 0%, #2d8c7b 100%);

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
}
.botao-zap{
  position: fixed;
  bottom:35px;
  right: 35px;
  &:hover{
    #telefone{
      animation: tocar 2s ease 0s infinite normal forwards;
    }
  }
}
@import "footer";
@import "home";
@import "header";
